<div class="row mt-lg-0 mt-8">
    <div class="col-lg-6 mt-2" id="education">
            <h1 class="display-4 title"><i class="ni ni-hat-3"></i> Education</h1>
            <div class="container py-2">
            
            <div class="row">
            
            <div class="col-auto text-center flex-column d-sm-flex">
            <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
            </div>
            <h5>
            <span class="badge text-white">now</span>
            </h5>
            <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
            </div>
            </div>
            
            <div class="col py-2">
            <div class="card education-card mirror-face">
            <div class="card-body">
            <h6 class="education-card-title">Masters of computer Application</h6>
            <p class="education-card-desc">First Class whith multiple Projets </p>
            </div>
            </div>
            </div>
            </div>
            
            </div>
            <div class="container py-2">
            
            <div class="row">
            
            <div class="col-auto text-center flex-column d-sm-flex">
            <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
            </div>
            <h5>
            <span class="badge text-white">2019</span>
            </h5>
            <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
            </div>
            </div>
            
            <div class="col py-2">
            <div class="card education-card mirror-face">
            <div class="card-body">
            <h6 class="education-card-title">Bachelor of Computer Application</h6>
            <p class="education-card-desc">B.v.B Bhoomareddi college </p>
            </div>
            </div>
            </div>
            </div>
            
            </div>
            <div class="container py-2">
            
            
            
            </div>
            </div>
            <div class="col-lg-6 mt-2" id="experiences">
            <h1 class="display-4 title"><i class="ni ni-archive-2"></i> Experiences</h1>
            <div class="container py-2">
            
            <div class="row">
            
            <div class="col-auto text-center flex-column d-sm-flex">
            <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
            </div>
            <h5>
            <span class="badge text-white">2019</span>
            </h5>
            <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
            </div>
            </div>
            
            <div class="col py-2">
            <div class="card education-card mirror-face">
            <div class="card-body">
            <h6 class="education-card-title">Walmart Labs 2019-2020</h6>
            <p class="education-card-desc"> Owner of a product Query-Tagger</p>
            <p class="education-card-desc"> End-to-End implimentation of product</p>
            </div>
            </div>
            </div>
            </div>
            
            </div>
            <div class="container py-2">
            
            <div class="row">
            
            <div class="col-auto text-center flex-column d-sm-flex">
            <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
            </div>
            <h5>
            <span class="badge text-white">2019</span>
            </h5>
            <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
            </div>
            </div>
            
            <div class="col py-2">
            <div class="card education-card mirror-face">
            <div class="card-body">
            <h6 class="education-card-title">Iam here Software Labs </h6>
            <p class="education-card-desc">I have been installing surveillance cameras, I have obtained a certificate in this field.</p>
            </div>
            </div>
            </div>
            </div>
            
            </div>
            </div>
            </div>
            
            <div class="row mt-5">
            <div class="col-lg-12">
            <h1 class="display-4 title mb-0" id="competences">
            <i class="ni ni-atom"></i>
            Competences
            </h1>
            <small class="s-color">Programming Languages and Tools</small>
            <div class="row">
            
            <div class="modal fade competance-model-1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content competence-modal mirror-face mt-8">
            </div>
            </div>
            </div>
            <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-15">
                <div class="competence-card text-center mirror-face">
                <div class="card-body">
                <img class="competence-img" alt="Rest API logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/cloud-api_civ34b">
                <p class="font-weight-normal pt-2 mb-0">Rest API</p>
                </div>
                </div>
                </div>
                <div class="modal fade competance-model-15" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content competence-modal mirror-face mt-8">
                <div class="modal-header">
                <h5 class="modal-title">Rest API</h5>
                <a data-dismiss="modal" aria-label="Close">
                <i class="far fa-times-circle modal-closse-btn"></i>
                </a>
                </div>
                <div class="modal-body">
                <p>Django REST framework is a powerful and flexible toolkit for building Web APIs.</p>
                </div>
                </div>
                </div>
                </div>
          
            <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-5">
            <div class="competence-card text-center mirror-face">
            <div class="card-body">
            <img class="competence-img" alt="Flask logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/python_qwwpex">
            <p class="font-weight-normal pt-2 mb-0">Python</p>
            </div>
            </div>
            </div>
            <div class="modal fade competance-model-5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content competence-modal mirror-face mt-8">
            <div class="modal-header">
            <h5 class="modal-title">Python</h5>
            <a data-dismiss="modal" aria-label="Close">
            <i class="far fa-times-circle modal-closse-btn"></i>
            </a>
            </div>
            <div class="modal-body">
            <p>Python is an interpreted, high-level and general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace.</p>
            </div>
            </div>
            </div>
            </div>
            <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-6">
            <div class="competence-card text-center mirror-face">
            <div class="card-body">
            <img class="competence-img" alt="Django logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/django_sgm62v">
            <p class="font-weight-normal pt-2 mb-0">Django</p>
            </div>
            </div>
            </div>
            <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-1">
                <div class="competence-card text-center mirror-face">
                <div class="card-body">
                <img class="competence-img" alt="Django logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/html5_j1ggtf">
                <p class="font-weight-normal pt-2 mb-0">HTML</p>
                </div>
                </div>
                </div>
            <div class="modal fade competance-model-6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content competence-modal mirror-face mt-8">
            <div class="modal-header">
            <h5 class="modal-title">Django</h5>
            <a data-dismiss="modal" aria-label="Close">
            <i class="far fa-times-circle modal-closse-btn"></i>
            </a>
            </div>
            <div class="modal-body">
            <p>Django is a Python-based free and open-source web framework that follows the model-template-views architectural pattern. It is maintained by the Django Software Foundation, an American independent organization established as a 501 non-profit.</p>
            </div>
            </div>
            </div>
            </div>
            <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-7">
            <div class="competence-card text-center mirror-face">
            <div class="card-body">
            <img class="competence-img" alt="C logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/c_j8m7hb">
            <p class="font-weight-normal pt-2 mb-0">C</p>
            </div>
            </div>
            </div>
            <div class="modal fade competance-model-7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content competence-modal mirror-face mt-8">
            <div class="modal-header">
            <h5 class="modal-title">C</h5>
            <a data-dismiss="modal" aria-label="Close">
            <i class="far fa-times-circle modal-closse-btn"></i>
            </a>
            </div>
            <div class="modal-body">
            <p>C is a general-purpose, procedural computer programming language supporting structured programming, lexical variable scope, and recursion, with a static type system.</p>
            </div>
            </div>
            </div>
            </div>
            <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-8">
            <div class="competence-card text-center mirror-face">
            <div class="card-body">
            <img class="competence-img" alt="Linux logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/linux_utgssw">
            <p class="font-weight-normal pt-2 mb-0">Linux</p>
            </div>
            </div>
            </div>
            <div class="modal fade competance-model-8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content competence-modal mirror-face mt-8">
            <div class="modal-header">
            <h5 class="modal-title">Linux</h5>
            <a data-dismiss="modal" aria-label="Close">
            <i class="far fa-times-circle modal-closse-btn"></i>
            </a>
            </div>
            <div class="modal-body">
            <p>Linux is a family of open source Unix-like operating systems based on the Linux kernel, an operating system kernel first released on September 17, 1991, by Linus Torvalds. Linux is typically packaged in a Linux distribution.</p>
            </div>
            </div>
            </div>
            </div>
            <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-9">
            <div class="competence-card text-center mirror-face">
            <div class="card-body">
            <img class="competence-img" alt="Git logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/git_s7jvap">
            <p class="font-weight-normal pt-2 mb-0">Git</p>
            </div>
            </div>
            </div>
            <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-2">
                <div class="competence-card text-center mirror-face">
                 <div class="card-body">
                <img class="competence-img" alt="CSS logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/css_rjs4dx">
                <p class="font-weight-normal pt-2 mb-0">CSS</p>
                </div>
                </div>
                </div>
                <div class="modal fade competance-model-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content competence-modal mirror-face mt-8">
                <div class="modal-header">
                <h5 class="modal-title">CSS</h5>
                <a data-dismiss="modal" aria-label="Close">
                <i class="far fa-times-circle modal-closse-btn"></i>
                </a>
                </div>
                <div class="modal-body">
                <p>Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language such as HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</p>
                </div>
                </div>
                </div>
                </div>
            <div class="modal fade competance-model-9" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content competence-modal mirror-face mt-8">
            <div class="modal-header">
            <h5 class="modal-title">Git</h5>
            <a data-dismiss="modal" aria-label="Close">
            <i class="far fa-times-circle modal-closse-btn"></i>
            </a>
            </div>
            <div class="modal-body">
            <p>Git is a distributed version-control system for tracking changes in source code during software development. It is designed for coordinating work among programmers, but it can be used to track changes in any set of files. Its goals include speed, data integrity, and support for distributed, non-linear workflows.</p>
            </div>
            </div>
            </div>
            </div>
            <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-10">
            <div class="competence-card text-center mirror-face">
            <div class="card-body">
            <img class="competence-img" alt="GitHub logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/github_lbprja">
            <p class="font-weight-normal pt-2 mb-0">GitHub</p>
            </div>
            </div>
            </div>
            <div class="modal fade competance-model-10" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content competence-modal mirror-face mt-8">
            <div class="modal-header">
            <h5 class="modal-title">GitHub</h5>
            <a data-dismiss="modal" aria-label="Close">
            <i class="far fa-times-circle modal-closse-btn"></i>
            </a>
            </div>
            <div class="modal-body">
            <p>GitHub, Inc. is an American multinational corporation that provides hosting for software development and version control using Git. It offers the distributed version control and source code management functionality of Git, plus its own features.</p>
            </div>
            </div>
            </div>
            </div>
            <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-11">
            <div class="competence-card text-center mirror-face">
            <div class="card-body">
            <img class="competence-img" alt="Docker logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/docker_v2cx92">
            <p class="font-weight-normal pt-2 mb-0">Docker</p>
            </div>
            </div>
            </div>
            <div class="modal fade competance-model-11" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content competence-modal mirror-face mt-8">
            <div class="modal-header">
            <h5 class="modal-title">Docker</h5>
            <a data-dismiss="modal" aria-label="Close">
            <i class="far fa-times-circle modal-closse-btn"></i>
            </a>
            </div>
            <div class="modal-body">
            <p>Docker is a set of platform as a service products that use OS-level virtualization to deliver software in packages called containers.</p>
            </div>
            </div>
            </div>
            </div>
            <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-12">
            <div class="competence-card text-center mirror-face">
            <div class="card-body">
            <img class="competence-img" alt="VS Code logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/visual-studio-code-seeklogo.com_xdrah1">
            <p class="font-weight-normal pt-2 mb-0">VS Code</p>
            </div>
            </div>
            </div>
            <div class="modal fade competance-model-12" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content competence-modal mirror-face mt-8">
            <div class="modal-header">
            <h5 class="modal-title">VS Code</h5>
            <a data-dismiss="modal" aria-label="Close">
            <i class="far fa-times-circle modal-closse-btn"></i>
            </a>
            </div>
            <div class="modal-body">
            <p>Visual Studio Code is a free source-code editor made by Microsoft for Windows, Linux and macOS. Features include support for debugging, syntax highlighting, intelligent code completion, snippets, code refactoring, and embedded Git</p>
            </div>
            </div>
            </div>
            </div>
           
            </div>
            </div>
            </div>
            <div class="row mt-5 ">
            <div class="col-lg-12">
            <h1 class="display-4 title mb-0" id="projects">
            <i class="fa fa-code"></i>
            Projects
            </h1>
            <small class="s-color">To see all of my projects click on "<a href="/projects/" class="font-weight-bold text-info">Show All Projects</a>"</small>
            <div class="row justify-content-center mt-2">
            <div class="col-lg-12 mt-lg-2">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active mb-4">
            <div class="blog-slider mirror-face">
            <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
            <img src="https://paste.pics/D9NV8" alt="">
            </div>
            <div class="blog-slider__content">
            <div class="blog-slider__title">Youtubers platform</div>
            <div class="blog-slider__text"><p>This application is for Youtubers those who want to sell Products online</p>
            <p>The Web Application is build with Django Python , HTML, CSS, JavaScript</p…></div>
            </div>
            </div>
            </div>
            </div>
            </div>
    
            <div class="carousel-item  mb-4">
            <div class="blog-slider mirror-face">
            <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
            <img src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/projects/weather_img_iczdfs" alt="">
            </div>
            <div class="blog-slider__content">
            <div class="blog-slider__title">World Weather Search</div>
            <div class="blog-slider__text">World Weather Search Is a Django web app to get the weather status for any city in the world, Available information includes the 10-day forecast, wind, atmospheric conditions, pre…</div>
            <a href="/projects/world_weather_search" class="blog-slider__button">READ MORE</a>
            </div>
            </div>
            </div>
            </div>
            </div>
            <div class="carousel-item  mb-4">
            <div class="blog-slider mirror-face">
            <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
            <img src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/projects/my_portfolio_dhpite" alt="">
            </div>
            <div class="blog-slider__content">
            <div class="blog-slider__title">My Personal Portfolio We…</div>
            <div class="blog-slider__text"><p>Career portfolios are used to plan, organize and document education, work samples and skills. People use career portfolios to apply for jobs, apply to college or training progr…</p></div>
            <a href="/projects/my_personal_portfolio_websites" class="blog-slider__button">READ MORE</a>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <i class="fas fa-angle-left fa-3x color-primary"></i>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <i class="fas fa-angle-right fa-3x color-primary"></i>
            <span class="sr-only">Next</span>
            </a>
            </div>
            </div>
            </div>
            </div>
            </div>
            
    
            </div>
                <!--/row-->
            </div>
        </div>

    </div>
    